*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: white;
    color: black;
    height: 80px;
    z-index: 100;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid rgb(255, 136, 0);
}


.nav_flex_components {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 80px;    
}
#section-a {
    display: flex;
    align-items: center;
    width: 50%;
}

#logo_h {
    color: rgb(255, 136, 0);
}

#logo_p {
    font-size: 16px;
}

#section-b {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding-left: 20px;
}

#section-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    float: right;
    padding-left: 80px;
}

#section-c > li > a > img {
    height: 40px;
}


li {
    list-style: none;
}

li > a {
    text-decoration: none;
    color: black;
    list-style: none;
}

li > a:hover {
    text-decoration: underline;
    color: rgb(255, 136, 0);
    transition: all 0.3s ease;
    font-size: 18px;    
}

#section_1 {
    height: 100vh;
}

#image_container {
    height: 100vh;
    overflow-y: hidden;
    position: relative;
    
}

#image_container > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 90%;   
}

#container_title {
    position: absolute;
    top: 15%;
    z-index: 1;
    color: rgb(255, 255, 255);
    font-size: 90px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    
}

.search{
    padding-top: 20px;
    
}

.search-txt{
    height: 50px;
    border-radius: 25px;
    border-width: 1px;
    animation-name: search;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-size: 16px;
    padding-left: 10px;
    opacity: 65%;
    
}
@keyframes search{
    from {width:390px;font-size: 14px;}
    to {width: 400px; font-size: 15px;}
}
.search-txt:hover{
    width: 500px;
}

#about_dogs {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px solid rgb(255, 136, 0);
    border-radius: 12px;
    padding: 10px;
    text-align: center;
}

#about_dogs > h2{
   color: rgb(255, 136, 0);
   padding-bottom: 5px;
}

#dog_market {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 250px;
    border-radius: 12px;
    padding: 10px;
    padding-left: 30px;
}

#dog_card {
    width: 30%;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#image_sect {
    width: 100%;
    height: 300px;
    background-color: black;
    margin-bottom: 10px;
    border-radius: 12px;
}

#image_sect >img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.seller_btn {
    background-color: rgb(255, 136, 0);
    color: white;
    border-radius: 7px;
    padding: 5px;
    margin-top: 5px;
    height: 35px;
    border-width: 1px;
}

.p_description {
    padding-top: 5px;
    padding-bottom: 5px;
}

.seller_btn:hover{
    background-color: rgb(243, 164, 73);
}

#comments_container {   
    background-color: rgb(243, 164, 73);
    display: flex;
    position: relative;
}

#obutula, #signup{
    height: 80%;
    border: 2px solid white;
    margin: 40px 40px 40px 40px;
    width: 30%;
    padding-left: 10px;
    display: inline-block;
    border-radius: 12px;
}

form {
    margin: 40px 40px 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}

#signup {
    margin: 40px 40px 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}

form > input, button {
    height: 40px;
    border-radius: 12px;
    padding-left: 5px;
}



#signup {
    padding: 10px;
}

#signup > input, button {
    height: 40px;
    border-radius: 12px;
    padding-left: 5px;
}

form > textarea {
    height: 200px;
    border-radius: 12px;
    padding-left: 5px;
    padding-top: 10px;

}

#footer_section {
    height: 400px;
    background-color: black;
    padding-top: 50px;
    
}

#footer_dogs{
    position: absolute;
    float: inline-end;
    width: 100%;
    margin-top: -186px;
    z-index: -1;
}

.footer_flex_container {
    margin-left: 100px;
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
}


.footer_flex_container > ul > li > a {
    color: white;
}


#footer_section > .footer_flex_container > ul > li {
    margin-top: 20px;   

}

.privacy-footer {
    color:  rgb(255, 136, 0);
}

.end_note {
    padding-top: 30px;
    border-top: 1px solid grey;
}